<ion-view view-title="Edit User">
  <ion-content scroll="true" ng-controller="EditUserCtrl">
  <form ng-submit="submitEditUser()" name="editUserForm" novalidate>
  	<div class="list">
      <div class="item item-divider">Account</div>
  	<label class="item item-input">
      <span class="input-label">First name</span>
  		<input type="text" name="firstname" ng-model="data.firstname" required/>
  	</label>
    <label class="item item-input">
      <span class="input-label">Last name</span>
  		<input type="text" name="lastname" ng-model="data.lastname" required/>
  	</label>
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="email" name="email" ng-model="data.email" required/>
    </label>
    <div class="item item-divider">Type</div>
    <div class="list">
        <ion-radio ng-repeat="item in typeList" ng-value="item.value" 
         ng-model="data.type"> {{ item.text }}
        </ion-radio>
      </div>
  	</div>
  		<div class="padding">
        <button class="button button-block button-positive" ng-disabled="editUserForm.$invalid" type="submit">Submit</button>
  			<p ng-show="editUserForm.firstname.$error.required">* First name is required.</p>
  			<p ng-show="editUserForm.lastname.$error.required">* Last name is required.</p>
  			<p ng-show="editUserForm.email.$invalid">* A valid email address is required.</p>
  	</div>
  </form>	
</ion-content>
</ion-view>
