<ion-view view-title="Users">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="user in users track by $index" href="#/app/users/{{user}}">
        <!-- <button ng-click="addUserToLine({{user}}, $index)" class="button button-positive">
          <i class="icon ion-plus-round"></i>
        </button> -->
        <button ng-click="deleteUser({{user}}, $index)" class="button button-assertive">
          <i class="icon ion-trash-b"></i>
        </button>
        ID # {{user}}
      </ion-item>
    </ion-list>
      <div class="buttons padding">
      <a ui-sref="app.addUser" class="button button-block button-positive">Add User</a>
      </div>
  </ion-content>
</ion-view>
