<ion-view view-title="Users" cache-view="false">
  <ion-content>
    <ion-list>
      <div class="item item-divider">Students</div>
      <ion-item ng-repeat="user in users track by $index" class="item-button-right">
         {{user.first_name}} {{user.last_name}}
         &nbsp;
        <div class="buttons">
        <button ng-if="isAdmin" ng-click="addUserToLine({{user}}, $index)" class="button button-balanced">
          <i class="icon ion-plus-round"></i>
        </button>
        <button ng-if="isAdmin" ng-click="deleteUser({{user.id}}, $index)" class="button button-assertive">
        <i class="icon ion-trash-b"></i>
      </button>
      <!-- <button ng-if="loggedIn" ng-click="" class="button button-positive">
      <i class="icon ion-edit"></i>
    </button> -->
      </div>
      </ion-item>
      
      <div class="item item-divider">Teachers</div>
      <ion-item ng-repeat="admin in admins track by $index" class="item-button-right">
        {{admin.first_name}} {{admin.last_name}}
        <div class="buttons">
          <button ng-if="admin.isMe" ui-sref="app.editUser" class="button button-positive">
          <i class="icon ion-edit"></i>
        </button>
        </div>
      </ion-item>
    </ion-list>
      <div class="buttons padding">
      <a ng-if="loggedIn" ui-sref="app.addUser" class="button button-block button-positive">Add User</a>
      </div>
  </ion-content>
</ion-view>
